{% extends 'base/form.html' %}

{% block form %}

<h1>Login</h1>
<form action="" method="POST"> {% csrf_token %}
    <fieldset>
        <label for="username" placeholder="your-username">Nome de usuário</label>
        <input type="text" name="username">
    </fieldset>
    <fieldset>
        <label for="password" placeholder="your-password">Senha</label>
        <input type="password" name="password">
    </fieldset>
    <button type="submit">Entrar</button>
</form>
{% if error == 1 %}
<div id="error-msg">
    <p>Erro: Usuário ou senha incorreta</p>
</div>
{% elif error == 2 %}
<div id="sucess-msg">
    <p>Usuário cadastrado com sucesso</p>
</div>
{% endif %}
<div class="links">
    <a href="/signup/">Cadastrar-se</a>
    <a href="#">Recuperar senha</a>
</div>

{% endblock form %}
